/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/**********************Doyon**********************/
#mainslide.slider{clear:both;}

#mainslide .slick-slide{position:relative;}
/* .slick-slide img에는 float이나 position 주지 않는다 */
#mainslide .slick-slide img{
    width:100%;
    display:block;} /* 같이 커졌다 작아졌다 하는 애들은 % */
#mainslide .slick-arrow{
    position:absolute;
    top:50%;z-index:99999;
    cursor:pointer;}
#mainslide .slick-prev{
    width:75px;
    height:20px;
    right:150px;
    border:none;
    background: none;
    background-image: url("../images/arrow_l.png");
    transform:rotate(90deg) translate(-60px,-100px);}
#mainslide .slick-next{
    width:75px;
    height:20px;
    right:100px;
    border:none;
    background: none;
    background-image: url("../images/arrow_r.png");
    transform:rotate(90deg) translate(-10px,-35px);}
#mainslide .slick-dots{
    position:absolute;
    left:90px;
    bottom:80px;}
#mainslide .slick-dots li{
    display:inline-block;
}
#mainslide .slick-dots li button{
    width:20px;
    height:20px;
    text-indent:-99999999px;
    background:transparent;
    border:3px solid #ccc;
    border-radius:50%;
    margin-right:2px;
    cursor:pointer;
}
#mainslide .slick-dots li.slick-active button{
    border:3px solid #dd1d27;
    width:35px;
    height:40px;
}
#mainslide .txt_box{
    position:absolute;
    left:50px;top:50px;
    z-index:999999;
}
#mainslide .slick-slide {
    position:relative;
    /*display: none;
    float: left;
    height: 100%;
    min-height: 1px;*/
}
#sec3 .slick-slide{
    margin-top:50px;
    margin-bottom:100px;
    /* text-align: center; */
}
#sec3 .slick-slide img{
    width:90%; /* calc(100% - 100px) */
    margin:0 auto;
}
#sec3 .slick-arrow{
    position:absolute;
    z-index:9999;
    bottom:0;
}
#sec3 .slick-prev{
    width:75px;
    height:20px;
    left:150px;
    border:none;
    background: none;
    background-image: url("../images/arrow_l.png");
    cursor: pointer;}
#sec3 .slick-next{
    width:75px;
    height:20px;
    left:250px;
    border:none;
    background: none;
    background-image: url("../images/arrow_r.png");
    cursor: pointer;}
#sec3 .slick-dots{
    position:absolute;
    width:25%;
    right:100px;
    bottom:0;
}
#sec3 .slick-dots li button{
    float:left;
    border:none;
    background: none;
    font-size:1.5rem;
    color:#ccc;
    cursor: pointer;
    margin-left:20%;
    font-family:Century_Gothic;

}
#sec3 .slick-dots li.slick-active button{
    color:#181C61;
    outline:none;
}

#sec7 .slick-slide img{
    margin-right: 37px;
}