#wrap{width:100%;min-width:1024px;overflow:hidden;}
#header{}
#section{}
#footer{}

/*********************header****************************/

/*********************section****************************/
#sec1{
    clear:both; /* μ¤λ‹µλ…ΈνΈ */
} 
/*********************footer****************************/